---
import { Image } from "astro:assets";
import Gallery from "../Gallery.jsx";

const thumbnailWidth = 750;
const thumbnailClass = "max-w-full md:max-w-[13rem]";
const thumbnailFormat = "png";
const { project } = Astro.props;
const { title, description, thumbnail, tags, link, screenshots } = project.data;
const { Content } = await project.render();
const thumbnailAlt = `${title} thumbnail`;
---

<div class="project-card">
  <div class="hero-content flex-col items-start md:flex-row">
    {
      thumbnail &&
        (link ? (
          <a href={link} target="_blank">
            <Image
              class={thumbnailClass}
              src={thumbnail}
              width={thumbnailWidth}
              format={thumbnailFormat}
              alt={thumbnailAlt}
            />
          </a>
        ) : (
          <Image
            class={thumbnailClass}
            src={thumbnail}
            width={thumbnailWidth}
            format={thumbnailFormat}
            alt={thumbnailAlt}
          />
        ))
    }
    <div class="grow w-full">
      <h3>
        {
          link ? (
            <a href={link} target="_blank">
              {title}
            </a>
          ) : (
            title
          )
        }
      </h3>
      <div>
        {
          tags &&
            tags.map((tag: string) => (
              <span class="badge badge-outline mr-1 mb-1">{tag}</span>
            ))
        }
      </div>
      <div class="prose max-w-none mb-6">
        {description && <p>{description}</p>}
        <Content />
      </div>
      <Gallery screenshots={screenshots} client:only="preact" />
    </div>
  </div>
</div>
